

</div>

<footer class="footer footer-center p-4 bg-indigo-900 text-white text-base-content">
    <aside>
        <% const year = new Date().getFullYear() %>
        <p class="text-xl text-bold">SecureVault</p>

      <p>Copyright © <%= year %> | All rights reserved</p>
    </aside>
  </footer>

</body>
</html>